<template name="board">
    {{#if isGame}}
        {{#if isPlaying}}
        <h2>You are in</h2>
        {{else}}
            {{unless hasAllPlayer}}
                <a href="#" class="btn join">Join this game!</a>
            {{/unless}}
        {{/if}}

        <table class="board">
            {{#each rows}}
            <tr>
                {{#each tile}}
                    {{> onetile}}
                {{/each}}
            </tr>
            {{/each}}
        </table>
    {{/if}}
</template>

<template name="onetile">
    <td class="{{class}}">{{content}}</td>
</template>