<template name="board">

    {{#if isGame}}
        {{currentPlayers}}


        {{#if isPlaying}}
            <h2>You are in</h2>
        {{else}}
            {{#unless hasAllPlayer}}
                <a href="#" class="btn join">Join this game!</a>
            {{/unless}}

        {{/if}}
    <h3>Between {{playerOneName}} and {{playerTwoName}}</h3>
        <div id="drag">
        <table class="board ">
            {{#each rows}}
            <tr class="">
                {{#each tile}}
                    {{> onesquare}}
                {{/each}}
            </tr>
            {{/each}}
        </table>

        {{#if isPlaying}}
        <table class="banc">
            <tr>

            {{#each myTiles}}
                {{> onetile}}
            {{/each}}
            </tr>
        </table>


            <div class="control hero-unit">
            {{#if myTurn}}
                <h3>You are playing!</h3>
                <p>Your score: <strong>{{myScore}}</strong>{{#if otherPlayerName}}, {{otherPlayerName}}' score: <strong>{{otherPlayerScore}}</strong>{{/if}}</p>
                <a href="#" class="btn btn-primary play">Play</a>
                <a href="#" class="btn skip">Skip turn</a>
                <a href="#" class="btn changetiles">Change your tiles</a>
            {{else}}
                <h3>{{otherPlayerName}} is playing</h3>
                <p>Your score: <strong>{{myScore}}</strong></p>
            {{/if}}
            </div>
        {{/if}}
        </div>
    {{/if}}
</template>

<template name="onesquare">
    {{#if content}}
    <td class="{{class}} mark">
        <div class="tile dropped mark single"><div class="draginner"><span class="letter">{{content}}</span> <span class="value">{{letterValue}}</span></div></div>
    </td>
    {{else}}
    <td class="{{class}} single">
    </td>
    {{/if}}
</template>


<template name="onetile">
    <td>
        {{#unless this.empty}}
        <div class="tile drag playing" data-letter="{{letter}}"><div class="draginner"><span class="letter">{{letter}}</span> <span class="value">{{value}}</span></div></div>
        {{/unless}}
    </td>
</template>
