@tileDimension : 50px;

table.board{
  tr{
    height: 50px;
    td{
      width: 50px;
    }
    .mul0{
      background-color: #e3e3e3;
    }
    .mul1{
      background-color: #ffd3d8;
    }
    .mul2{
      background-color: #c4d7ff;
    }
    .mul3{
      background-color: #00f;
    }
    .mul4{
      background-color: #f00;
    }
    .mul5{
      background-color: #ff0;
    }
  }
}