<template name="home">


    <div class="well">

        {{#if games}}
        <ul>
            {{#each games}}
            {{> game}}
            {{/each}}
        </ul>
        {{else}}
        <p>You don't have any active game at the moment.</p>
        {{/if}}


        <a href="#" class="btn btn-primary create btn-large">Create a new game!</a>
    </div>
</template>

<template name="game">
    <li>Game {{#if gameWith}}with {{gameWith}}{{/if}} <a href="{{boardPath _id}}">Click here to see</a></li>
</template>